<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update competition</title>
</head>
<body>
<div>
    <main>
        <div th:replace="~{/fragments/header}">header</div>
        <div>
            <h1>Create competition</h1>
            <div>
                <span>
                <a href="#" th:href="@{/competitions}">Competition list</a>
                </span>
            </div>
            <div>
                <form th:object="${competitionModel}" action="/competitions/update" method="post">
                    <div>
                        <label for="name">name</label>
                        <input type="text" id="name" th:field=*{name}>
                    </div>

                    <div>
                        <label for="deadline">deadline</label>
                        <input type="date" id="deadline" th:field=*{deadline}>
                    </div>

                    <div>
                        <select name="subject" id="subject" class="form-select">
                            <option th:each="subject : ${T(pl.tatarczyk.wojciech.competition_manager.api.model.CompetitionSubject).values()}"
                                    th:value="${subject}"
                                    th:text="${subject}"
                                    th:selected="${subject == competitionModel.subject}"
                            ></option>
                        </select>
                    </div>

                    <div>
                        <select name="stage" id="stage" class="form-select">
                            <option th:each="stage : ${T(pl.tatarczyk.wojciech.competition_manager.api.model.CompetitionStage).values()}"
                                    th:value="${stage}"
                                    th:text="${stage.getName()}"
                                    th:selected="${stage == competitionModel.stage}"
                            ></option>
                        </select>
                    </div>

                    <div>
                        <input type="hidden" th:field="*{id}">
                    </div>

                    <div>
                        <input type="hidden" th:field="*{createdDate}">
                    </div>
                    <div>
                        <button type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div th:replace="~{/fragments/footer}">footer</div>
</div>
</body>
</body>
</html>