<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List od applications</title>
</head>
<body>
<div>
  <main>
    <div>
      <h1>List of applications</h1>

      <div>
        <span>
          <a th:href="@{/dashboard}">Dashboard</a>
        </span>
        <span>
          <a href="#" th:href="@{/applications/create}">Create application</a>
        </span>
      </div>

      <div>
        <table>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">competition</th>
            <th scope="col">submitted</th>
            <th scope="col">submitted by</th>
            <th scope="col">status</th>
            <th scope="col">createdBy</th>
            <th scope="col">createdDate</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="appplication, status : ${applications}">
            <th scope="row" th:text="${status.count}">1</th>
            <td th:text="${T(pl.tatarczyk.wojciech.competition_manager.service.decorator.CompetitionDecorator).decorate(appplication.competition)}"></td>
<!--            <td th:text="${appplication.competition}"></td>-->
            <td th:text="${T(pl.tatarczyk.wojciech.competition_manager.service.decorator.UserDecorator).decorate(appplication.submitted)}"></td>
            <td th:text="${T(pl.tatarczyk.wojciech.competition_manager.service.decorator.UserDecorator).decorate(appplication.submittedBy)}"></td>
            <td th:text="${appplication?.status?.name}"></td>
            <td th:text="${T(pl.tatarczyk.wojciech.competition_manager.service.decorator.UserDecorator).decorate(appplication.createdBy)}"></td>
            <td th:text="${appplication.createdDate}"></td>
            <td>
              <a th:href="@{applications/update/{id}(id=${appplication.id})}">Update</a>
            </td>
            <td>
              <a th:href="@{applications/delete/{id}(id=${appplication.id})}">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
</body>
</html>